LCGen/no_qpe_sample.csv
LCGen/qpe_sample.csv
LCGen/Diff_dt/
my_dir/
1feats_wip/
2feats_wip
3feats_wip/
4feats_wip/
5feats_wip/
6feats_wip/
7feats_wip/
8feats_wip/
9feats_wip/
10feats_wip/
11feats_wip/
12feats_wip/
13feats_wip/
14feats_wip/
_dl_temp_/
working_dir/

.spyproject/workspace.ini
4XMMSSC/4XMM_DR12cat_v1.0.fits

4XMMSSC/top_cand_plots/conf_80/.DS_Store
4XMMSSC/top_cand_plots/conf_90/.DS_Store
4XMMSSC/top_cand_plots/conf_95/.DS_Store
4XMMSSC/top_cand_plots/conf_99/.DS_Store
BAD_NN_results.zip
4XMMSSC/bad_features/
4XMMSSC/top_cand_plots/
